.container {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    justify-content: space-between;
}


.service_container {
    margin-bottom: 200px;
    border: 3px solid #6B7280;
    border-radius: 10px;
    height: 300px;
    width: 500px;
    background-color: #ffffff;
    opacity: 0.8;
} 

.service_heading {
    margin-top: 10px;
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 10px;
    text-align: center;
}

.service_text {
    width: 400px;
    margin-left: 50px;
    font-size: 1.25rem;
    padding-bottom: 10px;
    margin-right: 50px;
}

.services_images {
    height: 300px;
    width: 400px;
    border-radius: 10px;
    opacity: 0.8;
}

#services_page_header {
    font-size: 4.0rem;
    font-weight: bold;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 70px;
    display: flex;
}

.didnt_see_container {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

#didnt_see_text {
    padding-top: 70px;
    font-size: 2rem;
    font-weight: bold;
}

#ask_us_today {
    background-color: #FBBF24;
    font-size: 1.125rem;  
    font-weight: 600;
    padding: 12px;
    border-radius: 12px;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    margin-bottom: 100px;
}

.ask_us_today:hover {
    color: #6B7280;
}

@media screen and (max-width: 850px) {
    .service_container {
        margin-bottom: 50px;
        border: 3px solid #6B7280;
        border-radius: 10px;
        height: 200px;
        width: 500px;
        align-items: center;
    }

    .service_text {
        font-size: 1.0rem;
    }

    .services_images {
        height: 200px;
        width: 100px;
        border-radius: 10px;
    }

    .container {
        position: relative;
        flex-direction: column;
        align-items: center;
    }

    #services_page_header {
        font-size: 1.70rem;
        font-weight: bold;
        padding-bottom: 30px;
    }

    .services_images {
        display: none;
    }

}

@media screen and (max-width: 480px) {
    .service_container {
        margin-bottom: 50px;
        border: 3px solid #6B7280;
        border-radius: 10px;
        height: 200px;
        width: 275px;
    }

    .service_text {
        width: 200px;
        margin-left: 40px;
        font-size: 0.7rem;
        padding-bottom: 10px;
        margin-right: 30px;
    }

    .container {
        position: relative;
        flex-direction: column;
    }

    #services_page_header {
        font-size: 1.70rem;
        font-weight: bold;
        padding-bottom: 30px;
    }

    .services_images {
        display: none;
    }

    #didnt_see_text {
        font-size: 1.25rem;
        font-weight: bold;
    }
    
    #ask_us_today {
        background-color: #FBBF24;
        font-size: 1rem;  
        font-weight: 600;
        padding: 12px;
        border-radius: 12px;
        transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    }

}