/* WHEN YOU WRITE YOUR CSS IN HERE AND DON"T SAY WHAT IT"S FOR, SHAME ON YOU TRULY.*/
/* FOR EXAMPLE, WHEN I WRITE THE NAV BAR CSS, I WILL MKAE SURE YOU KNOW THATS WHAT IT'S FOR:

-- START NAV BAR CSS --

CSS
CSS
CSS
CSS

-- END NAV BAR CSS -- 

IF YOU WRITE CSS THAT YOU THINK WILL BE USEFUL FOR EVERY PAGE, TEXT THE GROUP CHAT OR MAKE A COMMENT, DON'T BE A PLEB ABOUT IT.

EXAMPLE OF HOW TO ADD THE CSS FILE TO AN HTML FILE:

{% load static %}
<link rel="stylesheet" href="{% static 'core/css/style.css' %}"> //didn't test this yet */


/* Footer */
/* Footer Section */
/* Styles for the footer */
footer {
    margin-bottom: 0rem;
    padding: 1rem;
    position: relative;
    background-color: #D1D5DB;
  }
  
  /* Styles for the logo */
  #logo-footer img {
    width: 300px;
  }
  
  /* Styles for the headers */
  /*Morasco Remodeling:Create,Fix,Dream header*/
  h3 {
    margin-top: -4rem;
    margin-left: 5rem; 
    font-weight: 600;
    color: #4B5563;
    max-width: 20rem;
  }

  /*Menu header*/
  h4 {
    margin-left: 57.3rem;
    font-weight: 600;
    color: #4B5563;
    margin-top: -7rem;
  }

  /*Pittsburgh born and raised header*/
  h5 {
    margin-top: -10rem;
    margin-left: 96rem;
    font-weight: 600;
    color: #4B5563;
  }
  
  /* Styles for the text */
  /*"If it's not good enough for my home, it's not good enough for your home!"*/
  p {
    margin-left: 5rem;
    font-size: 1.125rem;
    color: #6B7280;
    max-width: 20rem;
    padding-bottom: 1rem;
  }

  /*"Morasco Remodeling... address and phone# "*/
  p1 {
    margin-left: 96rem;
    font-size: 1.125rem;
    color: #6B7280;
    max-width: 20rem;
  }
  
  /* Styles for the links */
  a {
    text-decoration: none;
    color: #6B7280;
  }
  
  a:hover {
    color: #374151;
  }
  
  /* Styles for the unordered list */
  ul {
    margin-bottom: 4rem; 
  }
  
  /* Styles for the list items */
  li {
    margin-left: 57.3rem;  
  }

 
  
  /* Styles for the container */
  .container {
    margin: 0 auto;
    max-width: 350px; 
  }
  
  /* Styles for the space between elements */
  .space-x-6 > * + * {
    margin-left: 1.5rem;
  }
  
  /* Styles for the flexbox */
  .flex {
    display: flex;
  }
  
  /* Styles for the items inside the flexbox */
  .items-center {
    align-items: center;
  }
  
  .justify-between {
    justify-content: space-between;
  }
  
  /* Styles for the media query */
  @media (min-width: 768px) {
    .md\:flex {
      display: flex;
    }
  }
  
  
  
  
  
  