{% extends 'core/base.html' %} <!-- This is the base template that all other pages will call-->
{% load static %} <!-- load the static library -->
{% block extrahead %}
<link rel="stylesheet" href={% static 'core/css/about.css' %}>
{% endblock %}

{% block title %}About{% endblock %} <!-- This is the title of the page-->


<!-- This is the content of the page -->
{% block content %}
    <!--body class="bg-gradient-to-b from-orange-100 to-blue-200"-->

    <h1>The About us page</h1>

{% endblock %}
