{% extends 'core/base.html' %}
{% load static %} <!-- load the static library -->
{% block extrahead %}
<link rel="stylesheet" href={% static 'core/css/contact.css' %}>
{% endblock %}

{% block title %}Contact{% endblock %}

{% block content %}
<body>

    <div class="hero">

        <form>
            <div class="row">
                <div class="input-group">
                    <input type="text" id="name" required>
                    <label for="name">Full Name</label>
                </div>
                <div class="input-group">
                    <input type="text" id="number" required>
                    <label for="number">Phone Number</label>
                </div>
            </div>
            
            <div class="input-group">
                <input type="text" id="email" required>
                <label for="email">Email</label>
            </div>
            <div class="input-group">
                <textarea id="message" rows="8" required></textarea>
                <label for="message">Your Message</label>
            </div>
            <button type="submit">SUBMIT</button>
        </form>


    </div>

</body>

<script>
    document.getElementById("my-form").addEventListener("submit", function(event) {
        event.preventDefault();
        document.getElementById("my-form").reset();
        window.location.href = "{% url 'index' %}?form_submitted=true";
    });
</script>
{% endblock %}