{% extends 'core/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}


<body class="bg-gradient-to-b from-orange-100 to-blue-200">
  <!-- This is the carousel -->
<div id="carouselExampleIndicators" class="carousel slide " data-bs-ride="carousel" data-bs-interval="5000">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      {% load static %}
      <img src="{% static 'core/images/IMG_20161109_152215(1).jpg' %}" class="d-block w-100" alt="Image 1">
    </div>
    <div class="carousel-item">
      {% load static %}
      <img src="{% static 'core/images/IMG_20180509_162146(1).jpg' %}" class="d-block w-100" alt="Camera">
    </div>
    <div class="carousel-item">
      {% load static %}
      <img src="{% static 'core/images/PXL_20210908_193124241(1).jpg' %}" class="d-block w-100" alt="Exotic Fruits">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="bg-gray py-4">
  <div class="container mx-auto text-center">
    <h2 class="text-3xl font-bold text-gray-800"><br>Morasco Remodeling<br></h2>
  </div>
</div>


{% endblock %}
