{% extends 'core/base.html' %}

{% load static %} <!-- load the static library -->

{% block title %}Portfolio{% endblock %}

{% block content %}


    <div class="port_container">
        <div>
            <img src="{% static 'core/images/before/bradley-basement-before.jpg' %}" class="bradley_photos">
            <div class="portfolio_text_blocks">
                <h1 class="before_and_after_heading">Before</h1>
            </div>
        </div>
        <div>
            <img src="{% static 'core/images/after/bradley-basement-after.jpg' %}" class="bradley_photos">
            <div class="portfolio_text_blocks">
                <h1 class="before_and_after_heading">After</h1>
        </div>
    </div>

    <div class="port_container">
        <div>
            <img src="{% static 'core/images/before/bradley-basement-before.jpg' %}" class="bradley_photos">
            <div class="portfolio_text_blocks">
                <h1 class="before_and_after_heading">Before</h1>
            </div>
        </div>
        <div>
            <img src="{% static 'core/images/after/bradley-basement-after.jpg' %}" class="bradley_photos">
            <div class="portfolio_text_blocks">
                <h1 class="before_and_after_heading">After</h1>
        </div>
    </div> 

{% endblock %}
